* {
  margin: 0;
  box-sizing: border-box;
}
* {
  font-family: Inter;
}
.add-button-style {
  background-color: rgba(0, 163, 0, 1);
  width: 109px;
  height: 44px;
  padding: 0px 20px 0px 20px;
  border-radius: 4px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  color: white;
  box-sizing: border-box;
  padding: 10px;
  margin-top: 52px;
}
.add-button-home {
  margin-left: auto;
  margin-right: auto;
  height: fit-content;
  max-width: 1180px;
  display: flex;
  justify-content: end;
}

/* .todo-item {
  display: flex;
  background-color: antiquewhite;
  border-radius: 5px;
  border: solid 2px black;
} */
.background-image {
  background-image: url(/Desktop/Class/Todo/11.11/picture/dark-black-abstract-background-with-wood-chips.jpg);
  background-position: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.card-body {
  display: flex;
  gap: 20px;
  box-sizing: border-box;
  padding: 20px;
  max-width: max-content;
  margin-left: auto;
  margin-right: auto;
}

.card-box {
  background-color: rgba(16, 16, 16, 1);
  width: 280px;
  height: 672px;
  padding: 20px;
  gap: 10px;
  border-radius: 12px;
  border: 2px;
  border-color: darkgrey;
}
.status-board {
  max-width: 240px;
  margin-left: auto;
  margin-right: auto;
  height: 42px;
  padding: 0px 0px 20px 0px;
  display: flex;
  gap: 20px;
}

.board-item-1 {
  width: 12px;
  height: 12px;
  border-radius: 12.5px;
  box-sizing: border-box;
  margin-top: 5px;
  background-color: rgb(255, 255, 255);
}
.board-item-2 {
  width: 12px;
  height: 12px;
  border-radius: 12.5px;
  box-sizing: border-box;
  margin-top: 5px;
  background-color: rgba(163, 163, 0, 1);
}
.board-item-3 {
  width: 12px;
  height: 12px;
  border-radius: 12.5px;
  box-sizing: border-box;
  margin-top: 5px;
  background-color: rgba(0, 163, 0, 1);
}
.board-item-4 {
  width: 12px;
  height: 12px;
  border-radius: 12.5px;
  box-sizing: border-box;
  margin-top: 5px;
  background-color: rgba(163, 0, 0, 1);
}

.board-text {
  font-size: 18px;
  font-weight: 700;
  line-height: 21.78px;
  text-align: left;
  color: rgba(255, 255, 255, 1);
}

.list-item {
  max-width: 240px;
  margin-left: auto;
  margin-right: auto;
  height: 54px;
  padding: 12px 0px 0px 0px;
  border-radius: 8px;
  background-color: rgba(26, 26, 26, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}
.todo-name {
  font-family: Inter;
  font-size: 12px;
  font-weight: 300;
  text-align: left;
  color: rgba(217, 217, 217, 1);
  box-sizing: border-box;
  padding: 5px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-around;
}
.todo-name:hover {
  font-size: 13px;
  transition: all 0.5s ease;
  cursor: pointer;
}

/* .edit-button {
  width: 10px;
  height: 10px;
  border-radius: 20px;
} */
